//TODO: Remember to delete unused fonts
$font-display: "Markazi Text", "Lora", "Georgia", serif; //400,500,600,700
$font-body: "Lato", sans-serif; //100,300,400,700,900

$golden-ratio: 1.61803399;

$break-SM: 24em;
$break-MD: 36em;
$break-LG: 48em;
$break-XL: 60em;

$break-mobile: 425px;
$break-tablet: 768px;

$red: #cf3232;
$blue: #0088ff;

$gray4: #757575;

$g90: #1a1a1a;
$g75: #404040;
$g55: #737373;
$g05: #e5e5e5;

* {
  cursor: default;
}

a {
  cursor: pointer;
  &:hover {
    color: $red;
  }
  &:active {
    color: $blue;
    user-select: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-display;
  font-weight: 700;
  line-height: 1.3;
}

p,
div,
span,
ul,
ol,
li {
  font-family: $font-body;
  font-weight: 300;
  line-height: 1.3;
}

@function spacer($multiplier: 1) {
  @return $multiplier * 8px;
}

@function zindex($type, $step) {
  @if $type == "overlay" {
    @return 1000 + $step;
  }
  @if $type == "modal" {
    @return 800 + $step;
  }
  @if $type == "content" {
    @return 100 + $step;
  }
  @if $type == "background" {
    @return -100 + $step;
  } @else {
    @return 0 + $step;
  }
}

@media (min-width: $break-mobile) {
  h1 {
    font-size: 72px;
    line-height: 1;
    margin: 0;
  }
  h2 {
    font-size: 56px;
    line-height: 1;
    margin: 0;
  }
  h3 {
    font-size: 40px;
    line-height: 1;
    margin: 0;
  }

  p,
  span,
  ul,
  ol,
  li {
    font-size: 18px;
    margin-bottom: 18px;
  }

  a.subtle {
    font-size: 18px;
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: #cf3232;
    }

    &:active {
      color: #0088ff;
      user-select: none;
    }

    &:visited {
      color: unset;
      text-decoration: none;
    }
  }

  .cta-link {
    font-family: $font-body;
    font-weight: 700;
    font-size: 18px;
  }
}

@media (max-width: $break-mobile) {
  h1 {
    font-size: 48px;
    line-height: 1;
    margin: 0;
  }
  h2 {
    font-size: 40px;
    line-height: 1;
    margin: 0;
  }
  h3 {
    font-size: 36px;
    line-height: 1;
    margin: 0;
  }

  p,
  span,
  ul,
  ol,
  li {
    font-size: 18px;
    margin-bottom: 16px;
  }

  a.subtle {
    font-size: 18px;
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: #cf3232;
    }

    &:active {
      color: #0088ff;
      user-select: none;
    }

    &:visited {
      color: unset;
      text-decoration: none;
    }
  }

  .cta-link {
    font-family: $font-display;
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
  }
}
