* {
  cursor: default; }

a {
  cursor: pointer; }
  a:hover {
    color: #cf3232; }
  a:active {
    color: #0088ff;
    user-select: none; }

h1,
h2,
h3,
h4 {
  font-family: "Markazi Text", "Lora", "Georgia", serif;
  font-weight: 700;
  line-height: 1.3; }

p,
div,
span,
ul,
ol,
li {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.3; }

@media (min-width: 425px) {
  h1 {
    font-size: 72px;
    line-height: 1;
    margin: 0; }
  h2 {
    font-size: 56px;
    line-height: 1;
    margin: 0; }
  h3 {
    font-size: 40px;
    line-height: 1;
    margin: 0; }
  p,
  div,
  span,
  ul,
  ol,
  li {
    font-size: 18px;
    margin-bottom: 18px; }
  a.subtle {
    font-size: 18px;
    text-decoration: none; }
    a.subtle:hover, a.subtle:hover:visited {
      color: #cf3232; }
    a.subtle:active {
      color: #0088ff;
      user-select: none; }
    a.subtle:visited {
      color: unset;
      text-decoration: none; }
  .cta-link {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px; } }

@media (max-width: 425px) {
  h1 {
    font-size: 56px;
    line-height: 1;
    margin: 0; }
  h2 {
    font-size: 40px;
    line-height: 1;
    margin: 0; }
  h3 {
    font-size: 36px;
    line-height: 1;
    margin: 0; }
  p,
  div,
  span,
  ul,
  ol,
  li {
    font-size: 16px;
    margin-bottom: 16px; }
  a.subtle {
    font-size: 18px;
    text-decoration: none; }
    a.subtle:hover, a.subtle:hover:visited {
      color: #cf3232; }
    a.subtle:active {
      color: #0088ff;
      user-select: none; }
    a.subtle:visited {
      color: unset;
      text-decoration: none; }
  .cta-link {
    font-family: "Markazi Text", "Lora", "Georgia", serif;
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline; } }

@media (min-width: 425px) {
  .home .cover-page {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
    .home .cover-page .name-and-bullets {
      display: none; }
  .home.collapsed .cover-page {
    align-items: flex-start;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    max-width: 300px;
    padding: 0 16px 0 32px; }
    .home.collapsed .cover-page .name-and-bullets {
      display: block;
      margin: 0; }
      .home.collapsed .cover-page .name-and-bullets h2 {
        margin: 16px 0 0 0; }
      .home.collapsed .cover-page .name-and-bullets .bullet-points {
        color: #757575;
        font-weight: 300; }
  .avatar {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), #333333 url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png") center center/cover no-repeat;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -99; }
  .collapsed .avatar {
    background: url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png") left -285px top -170px/500% no-repeat;
    bottom: unset;
    clip-path: circle(70px at 50% 50%);
    cursor: pointer;
    height: 140px;
    left: unset;
    margin: 0;
    min-height: 140px;
    min-width: 140px;
    position: static;
    right: unset;
    top: unset;
    width: 140px; }
  .headline {
    bottom: 0;
    color: #fff;
    margin-right: 16px;
    max-width: 500px;
    text-align: left;
    width: 38%;
    z-index: 1002; }
  .collapsed .headline {
    display: none; } }

@media (max-width: 425px) {
  .home .cover-page {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
    .home .cover-page .name-and-bullets {
      display: none; }
  .home.collapsed .name-and-bullets {
    display: block; }
  .avatar {
    align-items: flex-end;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, black), #333333 url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png") center center/cover no-repeat;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -99; }
  .collapsed .avatar {
    background: url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png") left -66px top -38px/500% no-repeat;
    clip-path: circle(16px at 50% 50%);
    cursor: pointer;
    height: 32px;
    min-height: 32px;
    width: 32px; }
  .headline {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    margin-right: 16px;
    max-width: 500px;
    padding: 24px;
    text-align: left;
    width: 100%;
    z-index: 1002; }
    .headline h2 {
      margin: 16px 0 0 0; }
    .headline p {
      margin-top: 8px; }
  .collapsed .headline {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px; } }
