@import "./_system.scss";

$headerCollapsedWidth: 250px;
$headerPadding: 32px;

/*
Root styling
*/

// /*
// <Headline />
// */
// @media (max-width: $break-mobile) {
//   .main {
//     .headline {
//       color: #fff;
//       margin-right: 16px;
//       max-width: 500px;
//       text-align: left;
//       width: 100%;
//       padding: 24px;
//       margin-bottom: 16px;
//
//       h1 {
//         margin: 8px 0;
//       }
//
//       p {
//         margin-top: 8px;
//

//       }
//     }
//
//     &.collapsed {
//       .headline {
//         display: none;
//       }
//     }
//   }
// }
//
// /*
// <Avatar />
// */
// @media (max-width: $break-mobile) {
//   .main {
//     .avatar {
//       background: linear-gradient(
//           0deg,
//           rgba(0, 0, 0, 1),
//           rgba(0, 0, 0, 0) 50%,
//           rgba(0, 0, 0, 0) 60%,
//           rgba(0, 0, 0, 1)
//         ),
//         #333333 url("../assets/images/splash.png") center center/cover no-repeat;
//       align-items: flex-end;
//       display: flex;
//       height: 100%;
//       justify-content: flex-end;
//       width: 100%;
//     }
//     &.collapsed {
//       .avatar {
//         background: url("../assets/images/splash.png") left -66px top -38px/500%
//           no-repeat;
//         clip-path: circle(16px at 50% 50%);
//         cursor: pointer;
//         height: 32px;
//         width: 32px;
//         min-height: 32px;
//       }
//     }
//   }
// }
//
// /*

//TODO: NOw that I've reworked the componenets, need to fix styling to match
.main {
  .cover-page {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .name-and-bullets {
      display: none;
    }
  }
  &.collapsed {
    .cover-page {
      align-items: flex-start;
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 0;
      max-width: 300px;
      padding: 0 16px 0 32px;

      .name-and-bullets {
        display: block;
        margin: 0;

        h2 {
          margin: 16px 0 0 0;
        }

        .bullet-points {
          color: $gray4;
          font-weight: 300;
        }
      }
    }
  }
}
// @media (max-width: $break-mobile) {
//   .main {
//     .header {
//       align-items: center;
//       display: flex;
//       height: 100vh;
//       justify-content: flex-end;
//
//       h2 {
//         margin: 16px 0 0 0;
//       }
//     }
//     &.collapsed {
//       .header {
//         flex-direction: row;
//         align-items: center;
//         justify-content: flex-start;
//         padding: $headerPadding;
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         height: 32px;
//       }
//     }
//   }
// }






/*
<Avatar>
*/
.main .avatar {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75)
    ),
    #333333 url("../assets/images/splash.png") center center/cover no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zindex("overlay", 1);
}

.main.collapsed .avatar {
  background: url("../assets/images/splash.png") left -285px top -170px/500%
    no-repeat;
  bottom: unset;
  clip-path: circle(70px at 50% 50%);
  cursor: pointer;
  height: 140px;
  left: unset;
  margin: 0;
  min-height: 140px;
  min-width: 140px;
  position: static;
  right: unset;
  top: unset;
  width: 140px;
}

/*
<Headline>
*/
@media (min-width: $break-mobile){
  .main .headline {
    bottom: 0;
    color: #fff;
    margin-right: 16px;
    max-width: 500px;
    text-align: left;
    width: 38%;
    z-index: zindex("overlay", 2);

    .text-block {
    }
  }

  .main.collapsed .headline {
    display: none;
  }
}
@media (max-width: $break-mobile) {

}
