@media (min-width: $break-mobile) {
  // **********************************
  // Root styling for desktop sized screens
  // **********************************
  .home {
    .cover-page {
      align-items: center;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;

      .name-and-bullets {
        display: none;
      }
    }
    &.collapsed {
      .cover-page {
        align-items: flex-start;
        bottom: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        max-width: 300px;
        padding: 0 16px 0 32px;

        .name-and-bullets {
          display: block;
          margin: 0;

          h2 {
            margin: 16px 0 0 0;
          }

          .bullet-points {
            color: $gray4;
            font-weight: 300;
          }
        }
      }
    }
  }

  // **********************************
  // <Avatar>
  // **********************************
  .avatar {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75)
      ),
      #333333
        url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png")
        center center/cover no-repeat;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: zindex("background", 1);
  }

  .collapsed .avatar {
    background: url("https://s3-us-west-1.amazonaws.com/morgankeysdotcom-assets/imgs/splash_img/splash-small.png")
      left -285px top -170px/500% no-repeat;
    bottom: unset;
    clip-path: circle(70px at 50% 50%);
    cursor: pointer;
    height: 140px;
    left: unset;
    margin: 0;
    min-height: 140px;
    min-width: 140px;
    position: static;
    right: unset;
    top: unset;
    width: 140px;
  }

  // **********************************
  // <Headline>
  // **********************************

  .headline {
    bottom: 0;
    color: #fff;
    margin-right: 16px;
    max-width: 500px;
    text-align: left;
    width: 38%;
    z-index: zindex("overlay", 2);

    .text-block {
    }
  }

  .collapsed .headline {
    display: none;
  }

  // End large screen styling
}
