.App {
  /* height: 100%; */
}

.splash {
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75)
    ),
    #333333 url("assets/images/splash.png") no-repeat center/cover;
  /* background: no-repeat cover url("/assets/splash.png"); */
  display: flex;
  /* flex-direction: row; */
  height: 85vh;
  justify-content: flex-start;
  padding: 50px;
}
.headline {
  color: #fff;
  max-width: 600px;
  text-align: left;
  width: 45%;
}

h1 {
  font-family: "Constantia", serif;
  font-size: 48px;
  margin: 16px 0;
}
p {
  font-family: "Lato", "Raleway", sans-serif;
  font-size: 18px;
}
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
